.custom-profile-update-form {
    background-color: var(--secondary-color);
}

.custom-profileupdate-submit-btn {
    background-color: var(--primary-bg);
    color: black;
    font-size: large;
}

.custom-profileupdate-clear-btn {
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
    font-size: large;
}

.custom-profileupdate-Cancel-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}