#root {
    --primary-bg: #2BF5DC;
    --secondary-color: #FFE7FF;
    --primary-color: #1514149c;
    --secondary-bg: #992E9F;
    --primary-shadow: #A587A5;
    --bg-transparent: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.3) 85%
    ); 
    --bg-gradient: linear-gradient(
  0deg,
  rgb(150, 176, 170) 14%, 
  rgb(51, 74, 70) 18%, 
  25%
);
}